<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="img/halloween/10_watermelon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Germanch Game</title> 

    <style>
     
    </style>
  </head>
  <body>
    <audio id="backgroundMusic" loop autoplay>
      <source src="/audio/background_music.mp3" type="audio/mp3">
      Tu navegador no soporta el elemento de audio.
    </audio>
    <audio id="blub" src="/audio/blub.mp3" type="audio/mp3"></audio>
    <audio id="fall" src="/audio/cae.mp3" type="audio/mp3"></audio>
    <audio id="floor" src="/audio/floor.mp3" type="audio/mp3"></audio>
    <div id="game-container"></div>
    <button id="music-button">🔊</button>
    <script type="module" src="/main.js"></script>
  </body>
</html>